.raleway-normal {
    font-family: "Raleway", sans-serif,"Inter";
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

body{
    background-color: aliceblue;
}

header nav h1{
    font-family: "Inter";
    font-size: 34px;
    font-weight: bold;
    
}
/* Shared styles */
.no-text-deco{
    text-decoration: none;
}
.text-primary {
    color: #4E47FF;
}



.btn-primary {
    
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn-primary:hover {
    background-color: tomato;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    width: 1140px;
    height: 151px;
}

/* Banner styles */

.banner {
    text-align: center;
    margin: 50px 247px;
    padding: 50px 10px 150px;
    
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
}

header{
    background-image: url('../images/Hero-bg.png');
    /* background-repeat: no-repeat;
    background-position: top left, bottom right; */
}

.action-text-container{
    align-items: center;
    width: 517px;
    height: 203px;
    
}
.action-container{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    margin: 140px 100px;
}

.action-picture{
    width: 403px;
    border-radius: 50px;
    
}
.action-title{
    font-size: 42px;
   
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    color: #757575;
    
}
.productive-data-container{
    display: flex;
    margin-bottom: 120px;
    
}

 section{
    width: 1140px;
} 
.productive-user{
    background-color: #d3e3fd ;
    width: 1140px;
    height: 306px;
    margin: 0px 150px;
    border-radius: 15px;
}
.productive-user-title{
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    padding-top: 40px;
    
}
.productive-data-container{
    display: flex;
    justify-content: space-around;
}
.productive-total-data{
    font-family: "Inter";
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    padding: 0px;
    margin: 0px;
}

.productive-type-text{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin: 0px;
    padding: 0px;
}

/*Review part styles*/

.user-review{
    margin-left: 150px;
}
.review-part-headline{
    
    font-family: "Raleway";
    text-align: center;
    font-weight: 700;
    font-size: 42px;
}

.review-card-container{
    display: flex;
    gap: 20px;
    /* justify-content: center;     */
}
.review-card{
    
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    
    
}
.reviewer-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.reviewer-name{
    font-weight: 600;
    color: #757575;
}
.review-date{
    color:#757575;
}
.review-date{
    font-weight: 200;
}
.avatar-radius{
    /* font-family: "Raleway"; */
    border-radius: 50%;
}

.focus-container{
    text-align: center;
    margin-bottom: 200px;
}
.focus-container img{
    display: flex;
    align-items: center;
    margin:10px 350px;
    border-radius: 48px;
}

.news-letter{
    display: flex;
    padding: 130px 230px;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    width: 50%;
}

.news-letter-title{
    font-size: 80px;
    font-weight: 600;
    /* padding: 300px; */
}


.news-letter input[type="email"], .news-letter input[type="text"], .news-letter textarea{
height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 5px 20px;
margin-bottom: 24px;
border: none;
}