.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


/* Shared styles */
.no-text-deco{
    text-decoration: none;
}
.text-primary {
    color: #4E47FF;
}



.btn-primary {
    
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}


/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    width: 1140px;
    height: 151px;
}

/* Banner styles */

.banner {
    text-align: center;
    margin: 50px 267px;
    padding: 50px 110px 200px;
    
}

.banner-title {
    font-size: 65;
    font-weight: bold;
}

header{
    background-image: url('../images/Hero-bg.png');
    /* background-repeat: no-repeat;
    background-position: top left, bottom right; */
}